<div class="apply text-center" style="background-color: white;">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="box center" style="background-color: white;">
          <h3>Prèt à embarquer ?</h3>
          <p>
            <a href="/postuler" class="btn btn-primary red-btn">
              POSTULEZ MAINTENANT
            </a>
          </p>
          <% unless defined?(no_faq) && no_faq %>
            <p>Encore des questions ? Vous pouvez lire les <a href="/faq">FAQ</a></p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>