<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="claim-container">
        <div class="filter">
          <span class="claim">Entrepreneurs, codez votre premier site web !</span>
          <a class="claim-cta" href="https://ondemand.lewagon.org/tracks/codez-votre-premier-site-web/go?utm_source=Le%20Wagon%20Blog&utm_medium=banner&utm_content=On-demand%20CTA&utm_campaign=Banner%20Blog" alt="Lien vers le site du Wagon on-demand">Embarquez</a>
        </div>
      </div>
    </div>
  </div>
</div>