<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="claim-container">
        <div class="filter filter-radius">
          <span class="claim">Entrepreneurs, codez votre premier site web !</span>
          <a class="claim-cta" href="https://ondemand.lewagon.org/tracks/codez-votre-premier-site-web/go?utm_source=www.lewagon.org&utm_medium=banner&utm_campaign=banner_blog_wagon" alt="Lien vers le site du Wagon on-demand">Embarquez</a>
        </div>
      </div>
    </div>
  </div>
</div>