<aside class="blog-aside">
  <h2>SUIVEZ-NOUS</h2>
  <p>Soyez informé des prochaines <strong>masterclasses</strong>, recevez nos <strong>vidéos</strong> & <strong>blogposts</strong> techniques.</p>

  <%= erb :mailchimp_form %>

  <br/>

  <a class="twitter-timeline" href="https://twitter.com/Lewagonparis" data-widget-id="372292161472974848">Tweets de @Lewagonparis</a>
</aside>