<aside class="blog-aside">
  <h2>SUIVEZ-NOUS</h2>
  <p>Soyez informé des prochaines <strong>masterclasses</strong>, recevez nos <strong>vidéos</strong> & <strong>blogposts</strong> techniques.</p>
  <form action="#" method="get" class="newsletter-form">
    <div class="input">
      <input type="email" placeholder='votre e-mail' class="blog-input">
      <input type="submit" value="Suivez-nous" class="btn btn-primary blue-btn">
      <p class="error-message"></p>
    </div>
  </form>
  <br/>

  <a class="twitter-timeline" href="https://twitter.com/Lewagonparis" data-widget-id="372292161472974848">Tweets de @Lewagonparis</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</aside>