<% content_for(:title) do %>
  Le Wagon - FAQ
<% end %>

<div class="vertical-spacer"></div>

<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="faq">
        <h1 class="text-center">FAQ</h1>

        <% FAQS.each do |faq| %>
          <article>
            <h2><%= faq[:question] %></h2>
            <p><%= faq[:answer] %></p>
          </article>
        <% end %>

        Nous n'avons pas répondu à votre question ?
        Une seule adresse : <a href="mailto:contact@lewagon.org">contact@lewagon.org</a>
      </div>
    </div>
  </div>
</div>

<div class="vertical-spacer"></div>

<div class="container text-center">
  <%= erb :testimonials %>
</div>

<%= erb :apply, locals: { no_faq: true } %>