<% content_for(:title) do %>
  Le Wagon - Apprenez à coder!
<% end %>

<div style="height: 10em; background-color: grey">
  <h1>Apprenez à coder</h1>
  <h2>Il est temps d'attraper le wagon</h2>
  <p>TODO: CALL TO ACTION + fort pour avoir le mail du gars</p>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <p>Presse (logos)</p>
      <p>Programmes (Banières technos)</p>
      <p>
        - Thune - Combien gagné par dev / economisé en agence
        - Temps économisé vs galere tout seul.
      </p>
      <p>Alumni</p>
      <p>TODO: Prochains événements</p>
      <p>Photo de team</p>
    </div>
  </div>
</div>
