<% content_for(:title) do %>
  Le Wagon is hiring! Jobs & Careers
<% end %>
<% content_for(:description) do %>
  Le Wagon is a French innovative coding school teaching entrepreneurs fullstack web development. Join us!
<% end %>

<!-- TODO: ajouter une photo sympa de l'equipe en fond pour donner envie de bosser avec nous -->
<div id="jobs-banner" class="sub-banner text-center">
  <div class="filter">
    <div class="row">
      <div class="col-xs-12 center">
        <h1>Jobs</h1>
        <div class="vertical-spacer"></div>
        <p>Le Wagon is hiring!</p>
      </div>
    </div>
  </div>
</div>

<div class="vertical-spacer"></div>

<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h2>Teacher</h2>
      <p>
        <!-- TODO: rediger la fiche de poste -->
      </p>
    </div>
  </div>
</div>

<div class="vertical-spacer"></div>