<% content_for(:title) do %>
  Le Wagon is hiring! Jobs & Careers
<% end %>
<% content_for(:description) do %>
  Le Wagon is a French innovative coding school teaching entrepreneurs fullstack web development. Join us!
<% end %>

<!-- TODO: ajouter une photo sympa de l'equipe en fond pour donner envie de bosser avec nous -->
<div id="jobs-banner" class="sub-banner text-center">
  <div class="filter">
    <div class="row">
      <div class="col-xs-12 center">
        <h1>Jobs</h1>
        <div class="vertical-spacer"></div>
        <h2>Le Wagon is hiring!</h2>
      </div>
    </div>
  </div>
</div>

<div class="vertical-spacer"></div>

<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="offer">
        <header>
          <h2>Lead teacher Paris (ruby - RoR)</h2>
          <p>Durée : <strong>6 mois minimum</strong></p>
          <p>Format : <strong>3 à 5 jours par semaine</strong></p>
        </header>

        <section class="text-justify">
          <h3>Le poste</h3>
          <p>
            Pendant 3 à 5 jours par semaine, vous encadrez une classe de 20 entrepreneurs apprenants ruby, HTML/CSS/javascript et ruby on Rails. Vous assurez les <strong>talks techniques du matin</strong> (de 9h à 10h30), êtes en <strong>support la journée</strong> (épaulé(e) par un développeur assistant) et vous animez les <strong><i>live-code</i></strong> en fin de journée (17h30-19h). En fin de parcours, vous <strong>encadrez les projets d'élèves</strong>, les aidez à définir leurs <i>user-stories</i>, à découper leur travail, à collaborer efficacement avec git/Github.
          </p>
        </section>

        <section class="text-justify">
          <h3>Votre profil</h3>
          <p>
            Vous avez au moins <strong>2 ans d'expérience en Rails</strong> (et d'avantage en ruby) et une <strong>approche pragmatique et "orientée-produit" du code</strong>. Vous maîtrisez git/Github. Vous êtes bon pédagogue et faites preuve de leadership. Vous aimez travailler avec des entrepreneurs et vous êtes enthousiaste à l'idée d'accompagner des porteurs de projets qui feront les belles startups de demain. Vous êtes sociable et aimez partager votre amour de ruby et de ses bonnes pratiques.
          </p>
        </section>

        <section class="text-justify">
          <h3>Pourquoi rejoindre le Wagon?</h3>
          <p>
            En tant que lead-teacher à Paris, vous prendrez de plus en plus de responsabilités et <strong>occuperez une place centrale dans le développement du Wagon</strong> en France et à l'international. Vous serez au coeur de la plus grosse communauté parisienne d'<i>entrepreneurs-tech</i>, maîtrisant les enjeux techniques et capables d'amorcer seuls leurs projets. Cet écosystème rendra votre quotidien très excitant et vous permettra de batir un beau réseau professionnel.
          </p>
          <p>
            Vous travaillerez au Wagon, dans une ambiance unique, à la fois détendue et fun mais aussi où ça parle tech / entreprenariat / produit, où les idées fusent et les projets se concrétisent vraiment.
          </p>
        </section>

        <section class="text-justify">
          <h3>Contact us</h3>
          <p>
            On ne vous en dit pas plus ! Pour postuler, envoyez-nous un mail à <a href="mailto:boris@lewagon.org">boris@lewagon.org</a> avec un lien vers votre profil github et une rapide présentation.
          </p>
        </section>

      </div>
    </div>
  </div>
</div>

<div class="vertical-spacer"></div>