<form action="/subscribe" method="get" id="newsletter-form">
  <div class="input">
    <input type="email" placeholder='votre e-mail' name="email" class="subscribe-input">
    <input type="submit" value="Suivez-nous" class="btn btn-primary blue-btn">
  </div>
</form>
<div id="newsletter-form-thank-you">
  Merci, à très vite !
</div>