<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
      <div class="not-found">
        <h1>404 Not Found</h1>

        <p>Sorry, this page does not exist anymore :(</p>

        <p>
          <a href="/" class="btn btn-primary">Go home</a> or <a href="/blog">read the blog</a>
        </p>
      </div>
    </div>
  </div>
</div>