<% content_for(:title) do %>
  Le Wagon - <%= @product[:name] %> - <%= @city[:name] %>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1><%= @product[:name] %> - <%= @city[:name] %></h1>
    </div>
  </div>
</div>