<% content_for(:title) do %>
  Le Wagon - <%= @product.name %>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      PRODUCT IS <%= @product.name %> !
    </div>
  </div>
</div>