<div class="sharebar" id="sharebar-scroll">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-4">
        <a href="https://twitter.com/share" class="twitter-share-button" data-count="none" data-via="Lewagonparis" data-lang="fr">Tweeter</a>
        <div class="fb-like" data-href="http://www.lewagon.org<%= request.path_info %>" data-layout="button" data-action="like" data-show-faces="false" data-share="true"></div>
      </div>
      <div class="col-xs-8 youtube pull-right">
        <span class="shootout">Votre concentré de culture tech <i class="fa fa-angle-double-right"></i></span>
        <div class="g-ytsubscribe" data-channelid="UChCDYcBCrb8tuPAO6e0P-Hw" data-layout="default" data-count="default">
        </div>
      </div>
    </div>
  </div>
</div>