<div class="blog-share">
  <div class="row">
    <div class="col-md-12 text-center">
      <p>Recevez en exclusivité toutes nos prochaines publications !</p>
      <%= erb :mailchimp_form %>
    </div>
  </div>
</div>