<% if I18n.locale == :fr %>
<div class="top-banner">
  JavaScript débarque sur le On Demand. <a href="https://ondemand.lewagon.org/tracks/comprenez-enfin-javascript/go?utm_medium=referral&utm_source=www.lewagon.org&utm_campaign=top_banner_lewagon" target="_blank">Check it out</a> →
</div>
<% end %>
