<% if I18n.locale == :fr %>
<div class="top-banner">
  Le Wagon arrive en ligne. <a href="https://ondemand.lewagon.org/?utm_medium=referral&utm_source=www.lewagon.org&utm_campaign=top_banner_lewagon" target="_blank">Check it out</a> →
</div>
<% end %>