<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="vertical-spacer"></div>
      <h1>Oops, something went worng, sorry.</h1>

      <p>
        You just got a 500, our team has been alerted so they should quickly fix the problem.
        You can have a look at <a href="https://github.com/lewagon/www-sinatra">the code</a>
        of this website if you want :). If this is urgent, please ping us at
        <a href="mailto:contact@lewagon.org">contact@lewagon.org</a>
      </p>
      <div class="vertical-spacer"></div>
      <div class="vertical-spacer"></div>
    </div>
  </div>
</div>
