<h1>Oops, something gone worng, sorry.</h1>

<p>
  You just got a 500, our team has been alerted so they should quickly fix the problem.
  You can have a look at <a href="https://github.com/lewagon/www-sinatra">the code</a>
  of this website if you want :). If this is urgent, please ping us at
  <a href="mailto:contact@lewagon.org">contact@lewagon.org</a>
</p>