#projects {
  padding: 50px 0;
  background-color: white;
  font-weight: 300;
  img{
    width: 100%;
    box-shadow: 0px 1px 2px #EEE;
  }
  .list-inline a {
    text-align: center;
    color: #CCCCCC;
    display: inline-block;
    height: 35px;
    width: 35px;
    font-size: 22px;
    border-radius: 50%;
    border: 2px solid #CCCCCC;
  }
  .list-inline a:hover {
    color: #555;
    border: 2px solid #555;
  }
}

.project{
  background-color: white;
  padding: 40px 80px;
}

#and-you{
  text-align: center;
  padding: 70px;
  color: #AAA;
  i{
    font-size: 70px;
  }
}