#projects {
  padding: 50px 0;
  background-color: white;
  font-weight: 300;
  img{
    width: 100%;
  }
  a {
    text-align: center;
    color: #CCCCCC;
    display: inline-block;
    height: 35px;
    width: 35px;
    font-size: 22px;
    border-radius: 50%;
    border: 2px solid #CCCCCC;
  }
  a:hover {
    color: #555;
    border: 2px solid #555;
  }
}

.project{
  border-radius: 2px;
  background-color: white;
  padding: 40px 80px;
  border-bottom: 1px dashed #eee;
}

#and-you{
  text-align: center;
  padding: 70px;
  color: #CCC;
  i{
    font-size: 70px;
  }
}