body.blog { background-color: #fff; }

.blog,
.live-container {

  .pagination { visibility: hidden; }

  /*********************************************************
   INDEX BLOG
  *********************************************************/

  /* FILTERS **********************************************/

  .sub-banner {
    .fa { padding: 0 10px; }

    li {
       a {
        position: relative;
        text-decoration: none;
        padding-bottom: 5px;

        &:hover { color: #fff; }

        &:before {
          content: "";
          position: absolute;
          width: 100%;
          height: 2px;
          bottom: 0;
          left: 0;
          background-color: #fff;
          visibility: hidden;
          -webkit-transform: scaleX(0);
          transform: scaleX(0);
          -webkit-transition: all 0.3s ease-in-out 0s;
          transition: all 0.3s ease-in-out 0s;
        }

        &:hover:before {
          visibility: visible;
          -webkit-transform: scaleX(1);
          transform: scaleX(1);
        }
      }
    }
  }

  /* POSTS INDEX ********************************************/

  .postcard {
    position: relative;
    margin: 10px 0;
    background-color: #fff;
    border: 1px solid #ebebeb;
    box-shadow: 0px 0px 10px #f4f4f4;
    border-radius: 5px;

    .content { padding: 15px; }
    h2 { font-size: 25px; }
    p { margin: 0.5em 0; }

    .link-img {
      // width: 100%;
      overflow: hidden;
      background-size: cover;
      height: 200px;
      border-radius: 5px 5px 0 0;
      display: block;
    }

    @media(max-width: $screen-sm-max) {
      .link-img {
        height: 150px;
      }
    }

    .link-post {
      position: relative;
      display: block;
      width: 200px;
      left: 0;
      right: 0;
      margin: 40px auto 20px auto;
      line-height: 40px;
      border-radius: 10px;

      height:40px;
      bottom: 41px;
      background-color: #4599df;
      border-radius: 2px;
      text-align: center;
      text-transform: uppercase;
      color: #fff;
      transition: 0.3s ease;

       &:hover{
        text-decoration: none;
        background-color: #57a9ed;
       }
    }

    .infos {
      position: absolute;
      bottom: 0;
      text-align: center;
      text-transform: uppercase;
      font-size: 13px;
      border-top: 1px solid #f8f8f8;
      width: 100%;
      text-align: center;
      padding: 4px 0;
    }
  }

  /*********************************************************
   POST PAGE
  *********************************************************/

  .all-posts {
    margin-top: 20px;
    article { margin-bottom: 1em; }
  }

  /* HEADER POST ********************************************/

  .sub-banner {
    position: relative;
    background-image: none;
    box-shadow: none;

    h1 { font-size: 42px; }
    a { color: #fff; }

    &:after {
      top: 100%;
      left: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(136, 183, 213, 0);
      border-top-color: rgba(25, 131, 218, 0.8);
      border-width: 30px;
      margin-left: -30px;
      z-index: 10;
    }
  }

  /* EMBED ********************************************/

  pre { margin: 40px 0 40px 0; }

  .twitter-tweet { margin: 0 auto 40px auto !important; }

  .video-wrapper {
    position: relative;
    padding-bottom: 54%; /* 16:9 */
    padding-top: 23px;
    height: 0;
    margin: 40px 0;
  }

  .video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  /* CONTENT ********************************************/

  .blog-post {
    font-size: 1.25em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: rgba(2, 23, 37, 0.7);

    line-height: 180%;
    margin-bottom: 40px;

    h1, h2, h3, h4, p, ul {
      max-width: 750px;
      margin: 0 auto;
    }

    h3 { font-size: 30px; }
    h4 { font-size: 25px; }
    p { color: #444; line-height: 1.6; margin: 40px auto; }
    p img { border: 1px solid #e2e2e2; }
    ul { margin-top: 30px; margin-bottom: 40px; }
    img { width: 100%; border: 1px solid #e2e2e2; }

    blockquote {
      font-family: 'PT Serif', serif;
      width: 100%;
      padding: 0;
      text-align: center;
      font-size: 23px;
      border-left: none;
    }
  }

  /* READ MORE ********************************************/

  .suggestions {
    padding: 40px 0;

    &:before {
      left: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(136, 183, 213, 0);
      border-top-color: #181d22;
      border-width: 30px;
      margin-left: -30px;
      margin-top: -40px;
    }

    h2 {
      font-size: 25px;
      color: #333;
      text-transform: uppercase;
    }

    .postcard {
      background-color: #fff;
      margin: 20px 0;

      webkit-transition: all 0.4s ease;
      -moz-transition: all 0.4s ease;
      -o-transition: all 0.4s ease;
      transition: all 0.4s ease;

      &:hover {
        background-color: #333;
        h3 { color: #fff; }
      }

      h3 {
        font-size: 20px;
        color: #333;
        padding: 0 20px 10px 20px;
      }

      a { text-decoration: none; }
    }
  }

  /* READ MORE ********************************************/

  .side-cta {
    background-color: #fff;
    padding : 20px;
    text-align: center;

    h2 { font-size: 40px; }

    .fa {
      display: block;
      margin: 20px 0;
      color: #333;
      opacity: 0.6;
    }

    .btn-cta {
      color: rgba(25, 131, 218, 0.8);

      text-transform: Uppercase;
      font-weight: 600;

      webkit-transition: all 0.4s ease;
      -moz-transition: all 0.4s ease;
      -o-transition: all 0.4s ease;
      transition: all 0.4s ease;

      &:hover {
        color: #333;
        text-decoration: none;
      }
    }

    .share-buttons {
      padding-top: 20px;

      h3 { margin-bottom: 20px; }
      .twitter-share-button { width: 98px !important; }
    }
  }
}