#city-banner{
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 0 0px;
  box-shadow: 0 0 3px black;
  color: white;
  font-size: 17px;

  h1{
    margin-top: 100px;
    color: white;
    font-size: 80px;
    text-shadow: 0 0 1px white;
  }
  .filter{
    padding: 50px;
    min-height: 400px;
  }
}

@media(max-width: $screen-xs-max) {
  #city-banner{
    h1{
      font-size: 50px;
    }
  }
}

@media(max-width: $screen-md-max) {
  #city-banner {
    background-attachment: scroll;
    background-position: center center;
  }
}



.teachers{
  padding: 2.5em 0;
  background-color: white;
  img{width: 100%;}

  .teacher {
    margin-bottom: 2em;
  }
}

.local{
  padding: 50px 0;
}

.partners{
  img{
    width: 100%;
  }
  padding: 70px 0;
  background-color: white;
  text-align: center;
}


.meet-us {
  background-color: rgb(240, 240, 240);
  border-left: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  padding: 20px;
}

.date{
  border: 2px solid black;
  border-top: 10px solid black;
  width: 40px;
  padding: 5px 10px;
  font-size: 19px;
}

.meetup{
  border-left: 1px dashed lightgrey;
  padding-left: 44px;
}


@media (max-width: 992px){
  .meetup{
    border-left: none;
    padding-left: 15px;
  }
}

.red-label{
  margin-top: -45px;
  background: #E1342F;
  color: white;
  width: 150px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 1px;
}

.events{
  background: rgb(252, 252, 252);
}

.red-label h2 {
  font-size: 20px;
  line-height: 4px;
}
.red-label h2:after{
  background-color: #E1342F;
  content: "\00a0";
  display: block;
  height: 20px;
  left: 50%;
  margin-left: -10px;
  position: relative;
  bottom: -10px;
  width: 20px;
  -webkit-transform: rotate(315deg);
  -ms-transform: rotate(315deg);
  transform: rotate(315deg);
  z-index: 1000;
}
