.blue {color: rgb(4,100,144);}
.grey {color: rgb(180, 180, 180);}
.red {color: rgb(205, 64, 53);}
.dark-blue {color: #113d59;}
.vertical-spacer {height: 4.5em;}
.center {text-align: center;}
.justify {text-align: justify;}


body{
  padding-top: 70px;
  background-color: rgb(240, 244, 245);
}
@media(max-width: $screen-sm-max) {
  body{
  padding-top: 50px;
  }
}

.white {
  background-color: white;
}

.blue-btn{
  font-weight: 400;
  border-radius: 2px;
  border: 1px solid #0279c2;
  -webkit-transition: background-color 300ms ease-out;
  line-height: 27px;
  background-color: rgb(0, 131, 245);
}

.blue-btn:hover{
  background-color: #23aafd;
}

.red-btn {
  background-color: #ea4a3c;
  color: #fff;
  border-radius: 2px;
  margin-top: 15px;
  line-height: 50px;
  border: 1px solid #DC143C;
  font-weight: 400;
  -webkit-transition: background-color 300ms ease-out;
}

.red-btn:hover{
  background-color: #FF530D;
  border: 1px solid #9E0725;
}

.circle{
  width: 60%;
  border: 10px solid white;
  border-radius: 50%;
  box-shadow: 0 0 5px lightgrey;
}

.star-title{
  margin-bottom: 50px;
  text-align: center;
  font-size: 30px;
  height: 15px;
  border-bottom: 1px solid #4e4e4e;
  width: 100%;
  span{
    background-color: #fff;
  }
  img{
    height: 15px;
    margin-bottom: 6px;
    margin-left: 5px;
    margin-right: 5px;
  }
}

.arrow-link{
  text-decoration: none;
  i {
    -webkit-transition: all .3s ease;
  }
}

.arrow-link:hover{
  color: #428bca;
  text-decoration: none;
  i {
    -webkit-transform: translateX(9px);
  }
}

.newsletter-form{
  .blue-btn{
    vertical-align: 0px;
  }

  .subscribe-input{
    font-weight: 300;
    background: rgb(200,200,200);
    color: black;
    border: 1px solid white;
    border-radius: 2px;
    height: 40px;
    width: 250px;
    padding: 4px 10px;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    transition: all .3s linear;
  }

  .subscribe-input:active, .subscribe-input:focus{
    background-color: white;
    border: 1px solid black;
  }
}
.link-list a {
  text-align: center;
  color: #CCCCCC;
  display: inline-block;
  height: 30px;
  width: 30px;
  font-size: 20px;
  border-radius: 50%;
  border: 2px solid #CCCCCC;
}
.link-list a:hover {
  color: #555;
  border: 2px solid #555;
}

.apply{
  padding: 60px 0;
  .box{
    padding: 20px;
  }
}