footer {
  background-color: rgb(24,29,34);
  color: #CCCCCC;
  padding: 3em 0;
  font-size: 80%;

  a {
    color: #CCCCCC;
  }

  a:hover {
    color: #dd4b39;
  }

  h3, h4 {
    font-family: "Bitter", monospace;
  }

  .social{
    text-align: center;
    padding-top: 3em;

    a {
      display: inline-block;
      height: 40px;
      width: 40px;
      font-size: 25px;
      border-radius: 50%;
      border: 2px solid #CCCCCC;
    }

    a:hover {
      text-decoration: none;
      border: 2px solid #dd4b39;
    }
  }
}

