#alumni{
  .testimonial{
    text-align: left;
    background-color: #fff;
    margin: 20px auto;
    padding: 20px 20px 0;
    border-radius: 2px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    font-weight: 300;
    font-size: 15px;
    line-height: 1.6;
  }

  .testimonial::after {
    background-color: #fff;
    box-shadow: -1px 1px 1px 0 rgba(0, 0, 0, .2);
    content: "\00a0";
    display: block;
    height: 20px;
    left: 50%;
    margin-left: -10px;
    position: relative;
    bottom: -10px;
    width: 20px;
    transform: rotate(315deg);
  }

  .signature{
    text-align: right;
    font-weight: 700;
    color: rgb(100,100,100);
  }

  .workfor > a > img {
      height: 40px;
  }
}


#cursus{
  background-color: #fff;
  border-radius: 2px;
  padding: 50px 0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
}

.techno {
  text-align: center;
  background-color: #113d59;
  width: 80%;
  margin: 0 10% 20% 10%;
  padding: 10%;
  transition: background-color .3s ease;
  border-radius: 50%;
}

.techno:hover {
  background-color: rgb(205, 64, 53)
}

#news{
  padding: 50px 0;
  background-color: white;
  tr{
    border-bottom: 1px dashed lightgrey;
    td {padding: 20px 0;}
  }
  .desc{padding-left: 20px;}
}

#meetus{
  min-height: 400px;
  background-image: asset-url("team.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-top: 1px solid grey;
}

.panel-booster{
  cursor: default;
  border-radius: 0px;
  border: 1px solid rgb(240, 240, 240);
  padding-bottom: 10px;
  position: relative;

  .panel-heading{
    border-radius: 0;
    margin-bottom: 40px;
    color: white;
    background: rgb(85, 82, 106);
    border: none;
    h3{
      font-size: 17px;
      font-weight: 100;
    }
  }

  .btn-default {
    border: none;
    border-radius: 2px;
    color: white;
    width: 90%;
    padding: 10px 0;
  }
  .yellow{
    background: #FEB732;
  }
  .white{
    background: #white;
    border: 1px solid #999999;
    color: #999999;
  }
  .white:hover{
    background: white;
    border: 1px solid black;
    color: black;
  }
  .yellow:hover{
    background: orange;
  }
  ul
  {
    text-align: left;
    list-style: none;
    font-size: 15px;
    margin-bottom: 30px;
    line-height: 27px;
    color: #666666;
  }
  .details{
    margin-bottom: 30px;
  }
  .darkgrey{
    color: rgb(200, 200, 200);
  }
  .round-icon{
    margin: 30px auto;
    width: 120px;
    font-size: 15px;
    height: 120px;
    padding-top: 38px;
    color: white;
    background: rgb(204, 204, 204);
    border-radius: 50%;
    border: 2px solid rgb(204, 204, 204);
  }
}

.panel-booster:hover{
  .round-icon{
    transition: all 0.3s ease;
  }
  .yellow1{
    background: #FDB631;
    border: 2px solid orange;
  }
  .yellow2{
    background: #FE9332;
    transition: all 0.3s ease;
    border: 2px solid #FB7434;
  }
  .yellow3{
    background: #FB7434;
    transition: all 0.3s ease;
    border: 2px solid #DE615E;
  }
  .yellow4{
    background: #DE615E;
    transition: all 0.3s ease;
    border: 2px solid #DC143C;
  }
  margin-top: -4px;
  box-shadow: 0 1px 6px lightgrey;
  transition: all 0.3s ease;
}

