
.navbar-default {

  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.1);
  background: white;
  margin-bottom: 0px;

  li > a {
    line-height: 38px;
    font-weight: 300 !important;
    font-size: 15px;
  }

  #last-link{
    margin-right: 20px;
  }

  .with-underline {
    border-bottom: 3px solid white !important;
  }

  .with-underline:hover {
    border-bottom: 3px solid #ea4a3c !important;
  }

  #logo {
    height: 30px;
    margin-left: 8px;
    margin-top: 6px;
  }

  #nav-btn {
    background-color: #ea4a3c;
    color: #fff;
    border-radius: 2px;
    margin-top: 15px;
    line-height: 9px;
    border: 1px solid #DC143C;
    font-weight: 400;
    transition: background-color 300ms ease-out;
  }

  #nav-btn:hover{
    background-color: #FF530D;
  }
  .dropdown-menu{
    padding: 0 0 5px 0;
  }

  .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a {
    color: #fff;
    background-color: #ea4a3c;
  }

  .list-divider{
    margin-top: 10px;
    font-size: 20px;
    padding-left: 20px;
    font-family: "PillGothic", "Open-Sans", sans-serif;
  }

  @media(max-width: $screen-md-max) {
    li > a {
      font-weight: 400;
    }
  }

  @media(max-width: $grid-float-breakpoint-max) {
    #logo {
      height: 25px;
      margin-left: 8px;
      margin-top: 0px;
    }
    li.with-underline > a {
      padding-top: 0;
      padding-bottom: 0;
    }
    .with-underline:hover {
      border-bottom-color: white !important;
    }
    #nav-btn {
      margin: 0 12px;
      padding: 20px;
    }
  }
}


