#program-banner{
  background-image: asset-url('bg/grid.jpg');
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: 0 50px;
  box-shadow: 0 0 3px black;
  color: white;
  font-size: 17px;


  h1{
    color: white;
    font-size: 60px;
    text-shadow: 0 0 1px white;
  }
  .filter{
    padding: 50px;
    background-color: rgba(255, 167, 0, 0.8); /*rgba(0, 131, 245, 0.6);*/
    height: 100%;
  }
}

#program-keys{
  background-color: white;
  padding: 100px 0 30px 0;
  text-align: justify;

  .col-xs-6{
    padding: 30px;
  }

  img {
    width: 100%;
    border-radius: 2px;
    box-shadow: -1px 1px 2px grey;
  }
}

#goal{
  text-align: center;
  font-size: 20px;
  font-weight: 300;
}


#daily-schedule {
  padding: 40px 0;
  h2{
    margin-bottom: 30px;
  }
  img {
    width: 80px;
  }
  p {
    padding-left: 20px;
  }
}

#weekly-schedule {
  padding: 40px 0 70px 0;
  background-color: white;

  h2{
    margin-bottom: 30px;
  }

  .number{
    margin: 0 auto;
    text-align: center;
    padding-top: 8px;
    width: 40px;
    height: 40px;
    border-radius: 10%;
    border: 2px solid black;
  }

  p{
    padding-top: 8px;
  }

  #last{
    color: red;
    text-align: center;
    padding-top: 8px;
    width: 40px;
    height: 40px;
    border-radius: 10%;
    border: 2px solid red;
    margin-top: 12px;
    margin-right: 10px;
  }
}

#days{
  text-align: center;
}



