#program-keys{
  background-color: white;
  text-align: justify;
  padding-top: 6em;

  .col-xs-6{
    padding: 30px;
  }

  img {
    width: 100%;
    border-radius: 2px;
    box-shadow: -1px 1px 2px grey;
  }
}

#goal{
  text-align: center;
  font-size: 20px;
  font-weight: 300;
  margin: 2.5em 0;
}


#daily-schedule {
  padding: 40px 0;
  h2{
    margin-bottom: 30px;
  }
  img {
    width: 80px;
  }
  p {
    padding-left: 20px;
  }
}

#weekly-schedule {
  padding: 40px 0 70px 0;
  background-color: white;

  h2{
    margin-bottom: 30px;
  }

  .number{
    margin: 0 auto;
    text-align: center;
    padding-top: 8px;
    width: 40px;
    height: 40px;
    border-radius: 10%;
    border: 2px solid black;
  }

  p{
    padding-top: 8px;
  }

  #last{
    color: red;
    text-align: center;
    padding-top: 8px;
    width: 40px;
    height: 40px;
    border-radius: 10%;
    border: 2px solid red;
    margin-top: 12px;
    margin-right: 10px;
  }
}

#days{
  text-align: center;
}



