#postulate-banner {
  .filter{
    padding: 50px;
    background-color: rgba(1, 167, 125, 0.8);
    height: 100%;
  }
}

#program-banner {
  .filter{
    padding: 50px;
    background-color: rgba(255, 167, 0, 0.8); /*rgba(0, 131, 245, 0.6);*/
    height: 100%;
  }
  p {
    font-weight: 100;
    padding-top: 45px;
    padding-bottom: 45px;
    font-size:25px;
    text-shadow: 1px 1px 1px orange;
  }
}

#alumni-banner {
  .filter{
    padding: 50px;
    background-color: rgba(209, 50, 36, 0.8);
    height: 100%;
  }
}

#program-banner {
  .filter{
    padding: 50px;
    background-color: rgba(255, 167, 0, 0.8); /*rgba(0, 131, 245, 0.6);*/
    height: 100%;
  }
}

#blog-banner {
  .filter{
    padding: 50px;
    background-color: rgba(25, 131, 218, 0.8); /*rgba(0, 131, 245, 0.6);*/
    height: 100%;
  }
}


.sub-banner {
  background-image: asset-url('bg/grid.jpg');
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: 0 50px;
  box-shadow: 0 0 3px black;
  color: white;
  font-size: 17px;

  h1{
    color: white;
    font-size: 60px;
    text-shadow: 0 0 1px white;
  }
}

@media (max-width: $screen-sm) {
  .sub-banner {
    h1 {
      font-size: 40px;
    }
    .vertical-spacer {
      height: 1em;
    }
  }
}